{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Sign Up{% endblock %}

{% block body %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!
            </strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    {% block content %}
        <div class="d-flex align-items-center justify-content-center p-5" style="height:90vh;">
             <form class="bg-light p-3 border border-dark rounded" method="POST">
                {% csrf_token %}
                 <h1 class="text-center"><b>Sign Up</b></h1>
                <div class="row">
                  <div class="col">
                      {{ form.first_name|as_crispy_field }}
                  </div>
                  <div class="col">
                    {{ form.last_name|as_crispy_field }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md col-lg">
                      {{ form.email|as_crispy_field }}
                  </div>
                  <div class="col-md col-lg">
                    {{ form.phone_number|as_crispy_field }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md col-lg">
                      {{ form.password1|as_crispy_field }}
                  </div>
                  <div class="col-md col-lg">
                      {{ form.password2|as_crispy_field }}
                  </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    <a class="p-2 text-center" href="{% url 'login' %}">Already signed up? Log in here!</a>
                </div>
                    <br>
            </form>
        </div>

    {% endblock content %}
{% endblock body %}